# Java and Gradle specific
*.class
*.war
*.ear
*.jar
/build/
/out/
/target/

# Spring Boot specific
/BOOT-INF/
/META-INF/
/logs/

# Gradle specific
.gradle
/build/
/out/
!gradle-wrapper.jar
gradle-app.setting

# Eclipse specific
/.metadata
/.classpath
/.project
/.settings/

# IntelliJ IDEA specific
/.idea/
/*.iml
/modules.xml
/target/
.idea/
/.idea_modules/
*.ipr
*.iws
*.iml
/out/

# Maven specific
.mvn/
!**/mvnw
!**/mvnw.cmd
/target/
dependency-reduced-pom.xml

# Node specific
node_modules/
npm-debug.log
yarn-error.log

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
/user-service/target/classes/application.yaml
/trade-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/user-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/gradle/wrapper/gradle-wrapper.jar
/common/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/investment-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/notification-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/portfolio-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/price-alert-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/trade-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/user-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/common/target/maven-archiver/pom.properties
/investment-service/target/maven-archiver/pom.properties
/notification-service/target/maven-archiver/pom.properties
/portfolio-service/target/maven-archiver/pom.properties
/price-alert-service/target/maven-archiver/pom.properties
/trade-service/target/maven-archiver/pom.properties
/user-service/target/maven-archiver/pom.properties
